01_resources/*
01_resources
01_ressources/*
01_ressources
build/*
build
.svn/*
.svn
*.gz
*.log
*.toc
*.aux
03_Terres_ocres
02_fils_des_siècles
*.mp3
Avatar/*
Avatar
nogit_*
*~
piture/*
16_l5r/03_Second_City/picture/
*.out
