01_resources/*
01_resources
01_ressources/*
01_ressources
build/*
build
.svn/*
.svn
*.gz
*.log
*.toc
*.aux
03_Terres_ocres
02_fils_des_siècles
*.mp3
Avatar/*
Avatar
nogit_*
*_nogit
*~
piture/*
16_l5r/03_Second_City/picture/
*.out
*.png
*.wav
*.zip
*.jpg
*.pdf
*.JPG
.trash/*
*.trash/*
*.deb
*.json
*.PDF
*.swp
*.xcf
*.rcs
*.sql
*.sce
*.backup
*.jpeg
*.svg
*.doc
*.xls
*.docx
*.txt
*.ttf
*.TTF
*.mkv
ras/*
*.rskin
*.rar
