*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

README.md~
build/.svn/all-wcprops
build/.svn/entries
build/.svn/text-base/canada.aux.svn-base
build/.svn/text-base/canada.log.svn-base
build/.svn/text-base/canada.toc.svn-base
